body{
 font-family: Arial, sans-serif;
 background:#dff4ff;
 text-align:center;
 }

form{
 width:400px;
 margin:auto;
 background:white;
 padding:20px;
 border-radius:10px;
 box-shadow:0 0 10px gray;
 }

p{
 text-align:left;
 font-weight:bold;
 }

input,
 select{
 width:100%;
 padding:10px;
 margin-top:5px;
 box-sizing:border-box;
 }

input[type="submit"]{
 background:#0066cc;
 color:white;
 border:none;
 cursor:pointer;
 font-size:16px;
 }

input[type="submit"]:hover{
 background:#004c99;
 }

table{
 width:90%;
 margin:30px auto;
 border-collapse:collapse;
 background:white;
 }

table,
 th,
 td{
 border:1px solid black;
 }

th{
 background:#0066cc;
 color:white;
 }

th,
 td{
 padding:10px;
 }