body{
<<<<<<< HEAD
    font-family:"Times New Roman", serif;
    text-align: center;
}

h1{
    color: #041249;
    font-size: 80px;
}

.text{
    font-size: 18px;
    margin-bottom: 30px;
    text-align: left;
    margin-left: 35px;
}

table{
    width: 95%;
    margin: auto;
    border-collapse: collapse;
}

.head{
    background-color: #071f41;
    color: rgb(244, 246, 247);
}

.row{
    background-color: #dfe7f2;
}

th, td{
    border: 1px solid black;
    padding: 15px;
    font-size: 25px;
}

.contact{
    width: 80%;
    margin: 60px auto;
    padding: 40px;
    background-color: #dcefd8;
    border-radius: 60px;
}

h2{
    font-size: 55px;
    margin-bottom: 30px;
}

.group{
    display: flex;
    align-items: center;
    margin: 30px 0;
}

label{
    width: 180px;
    font-size: 25px;
    text-align: left;
    margin-left: 40px;
}

input{
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 15px;
}

textarea{
    width: 500px;
    height: 180px;
    border: none;
    border-radius: 20px;
}

button{
    width: 180px;
    height: 70px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
=======
    font-family: Arial;
    margin:40px;
}

h1{
    text-align:center;
}

span{
    color:red;
}

h2{
    color:#333;
}

p{
    font-size:18px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th{
    background:#3b4b66;
    color:white;
    padding:8px;
}

td{
    padding:8px;
}

input,select{
    padding:6px;
    width:250px;
}

input[type=submit]{
    width:100px;
    background:blue;
    color:white;
    border:none;
    padding:8px;
>>>>>>> daa9fae4677027d791dee89a9affacd5ffe6ebff
}